.stickerToolContainer {
    padding: 16px;
    background-color: #a5ffff;
    color: black;
}

.textToolContainer {
    height: 24px;
}

.focused {
    border: 1px solid blue;
}

.unfocused {
    border: 1px solid blue;
}
