.noteToolContainer {
    padding: 16px;
    background-color: #ffffa5;
    color: black;
    position: absolute;
}

.stickerToolContainer {
    padding: 16px;
    background-color: #ffffa5;
    color: black;
    position: absolute;
}

.textToolContainer {
    position: absolute;
}
